@page "/counter"

<PageTitle>Counter</PageTitle>

<input @bind="name" />

<h1>Counter</h1>

@* This is intertesting to see, here we are using c# to determine if a html element can appaer*@
@if (!string.IsNullOrWhiteSpace(name))
{
    <p role="status"> Hello, @name! Your current count: @currentCount</p>

}

<button class="btn btn-primary" @onclick="IncrementCount">Increase by 5</button>
<button class="btn btn-primary" @onclick="Reset" disabled="@(currentCount == 0)">Reset me</button>

@code {

    private string name = ""; 

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount+= 5;
    }

    private void Reset()
    {
        currentCount = 0;
    }
}
