@page "/swagger"

<PageTitle>Swagger Hub Lite</PageTitle>

<h3>SwaggerLite</h3>

<ApiLinkList ApiLinks="@endpoints"/>


@code {
	List<ApiLink> endpoints = new List<ApiLink>
	{
		new ApiLink("Seinfeld API", "https://api.mortensens.xyz/seinfeld/swagger"),
		new ApiLink("KnowledgeCenter API", "https://api.mortensens.xyz/kc/swagger")
	};
}
