@page "/swagger"

<PageTitle>Swagger Hub Lite</PageTitle>

<h3>SwaggerLite</h3>

<a href="https://api.mortensens.xyz/seinfeld/swagger" target="_blank">Seinfeld API</a>
<a href="https://api.mortensens.xyz/kc/swagger" target="_blank">KnowledgeCenter API</a>


@code {

}
